

body{
    display: grid;
    background-color: rgb(44, 44, 44);
    h2{
        color: rgb(157, 0, 0);
        text-decoration: underline double;
    }
    color: white;
}

@font-face {
    font-family: "sid-regular";
    src:url("sid-Regular.otf") format("opentype")
}

h4{
    font-family: "sid-Regular", Arial, sans-serif;
    
    @font-face {
        font-family: "sid-regular";
        src:url("sid-Regular.otf") format("opentype")
    }
}

a{
    background-color: chocolate;
    transition-duration: 0,3s;
}

a:hover{
    size: 3.5;
    background-color: blueviolet;
}

a:link{
    text-decoration: none;
    color: black;
}

