:root{
    --artikel-kleur-1: color(display-p3 1 1 0);
    --artikel-kleur-2: color(display-p3 .5 1 .3);
}

body{
    display: grid;
    background-color: whitesmoke;
    h2{
        color: rgb(0, 0, 0);
        text-decoration: underline double;
    }
    color: black;
}

@font-face {
    font-family: "sid-regular";
    src:url("sid-Regular.otf") format("opentype");
}

@font-face{
    font-family: "sid2-regular";
    src:url("sid2-regular.otf") format("opentype");
}

details{
    max-width: 60%;
}

section{
    display: grid;
     grid-template-columns: 1fr 4fr 1fr;
}

.Blok1{
    grid-column-start: 2;
    grid-column-end: 3;
}

.Blok2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.Blok3{
    grid-column-start: 2;
    grid-column-end: 3;
}

summary{
    font-size: 2em;
    font-family: "sid2-regular", Arial, sans-serif;
}

summary::marker {
    color:hotpink;
    font-size: 1.2em;
}

summary:hover{
    color: aqua;
    font-family: "sid-Regular", Arial, sans-serif;
}

summary:focus{
    color: aqua;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 2.6em;

    font-family: "sid2-regular", Arial, sans-serif;
}

h4{
    font-family: "sid-Regular", Arial, sans-serif;
}

a{
    background-color: chocolate;
    transition-duration: 0,3s;
}

a:hover{
    size: 3.5;
    background-color: blueviolet;
}
