.logo{
    height: 20%;
    width: 30%;
    display: flex;
    justify-self: center;
}

.navigatie{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: center;
}
.fotosminis img{
    width: 10em;
}