{% render 'partials/header.liquid' %} 
    {% comment %} <link rel="stylesheet" href="/spell_styleguide.css">
    <link rel="stylesheet" href="/showcase.css">  {% endcomment %}
    <hero>
        {% comment %} Titel van dit project {% endcomment %}
        <h1>DnD 5E Spells</h1>

        {% comment %} waarop je kan filtere {% endcomment %}
        <h2>Filter By</h2>
        {% comment %} knoppen voor het filteren van de spreuken {% endcomment %}
        {% comment %} Level {% endcomment %}
        <section class="filter">
            <select>
                <option value="">level 0</option>
                <option value="">level 1</option>
                <option value="">level 2</option>
                <option value="">level 3</option>
                <option value="">level 4</option>
                <option value="">level 5</option>
                <option value="">level 6</option>
                <option value="">level 7</option>
                <option value="">level 8</option>
                <option value="">level 9</option>
            </select>
        </section>
        <hr>
    </hero>

    <section>
        <ul>
            {% comment %} Hier komen de spreuken te staan {% endcomment %}
            {%for spell in spells %}
                <label for="{{ spell.name }}">
                    <li>
                        <a id="{{ spell.name }}" href="{{ spell.index }}">{{ spell.name }}</a>
                    </li>
                </label>
            {% endfor %}
        </ul>
    </section>
{% render 'partials/footer.liquid' %}