{% render 'partials/header.liquid' %} 
    {% comment %} <link rel="stylesheet" href="/spell_styleguide.css">
    <link rel="stylesheet" href="/showcase.css">  {% endcomment %}
    <hero>
        {% comment %} Titel van dit project {% endcomment %}
        <h1>DnD 5E Spells</h1>

        {% comment %} waarop je kan filtere {% endcomment %}
        <h2>Filter By</h2>
        {% comment %} knoppen voor het filteren van de spreuken {% endcomment %}
        {% comment %} Level {% endcomment %}
        <section class="filter">
            <select>
                <option value=""><a>level 0</a></option>
                <option value=""><a>level 1</a></option>
                <option value=""><a>level 2</a></option>
                <option value=""><a>level 3</a></option>
                <option value=""><a>level 4</a></option>
                <option value=""><a>level 5</a></option>
                <option value=""><a>level 6</a></option>
                <option value=""><a>level 7</a></option>
                <option value=""><a>level 8</a></option>
                <option value=""><a>level 9</a></option>
            </select>
        </section>
        <hr>
    </hero>

        <section>
            <ul>
                {% comment %} Hier komen de spreuken te staan {% endcomment %}
                {%for spell in spells %}
                    <label for="{{ spell.name }}">
                        <li>
                            <a id="{{ spell.name }}" href="/spells/{{ spell.index }}">{{ spell.name }}</a>
                        </li>
                    </label>
                {% endfor %}
            </ul>
        </section>
{% render 'partials/footer.liquid' %}