{% render 'partials/header.liquid' %} 
    {% comment %} <link rel="stylesheet" href="/spell_styleguide.css">
    <link rel="stylesheet" href="/showcase.css">  {% endcomment %}
    <hero>
        {% comment %} Titel van dit project {% endcomment %}
        <h1>DnD 5E Spells</h1>

        {% comment %} waarop je kan filtere {% endcomment %}
        <h2>Filter By</h2>
        {% comment %} knoppen voor het filteren van de spreuken {% endcomment %}
        {% comment %} Level {% endcomment %}
        <div class="filter">
            <a href="/spells">All</a>
            <a href="/spells/?level=0">Cantrips</a>
            <a href="/spells/?level=1">level 1</a>
            <a href="/spells/?level=2">level 2</a>
            <a href="/spells/?level=3">level 3</a>
            <a href="/spells/?level=4">level 4</a>
            <a href="/spells/?level=5">level 5</a>
            <a href="/spells/?level=6">level 6</a>
            <a href="/spells/?level=7">level 7</a>
            <a href="/spells/?level=8">level 8</a>
            <a href="/spells/?level=9">level 9</a>
        </div>
        <hr>
    </hero>

        <div id="spells">
            <ul>
                {% comment %} Hier komen de spreuken te staan {% endcomment %}
                {%for spell in spells %}
                        <li>
                            <a id="{{ spell.name }}" href="/spells/{{ spell.index }}">{{ spell.name }}</a>
                        </li>
                {% endfor %}
            </ul>
        </div>
{% render 'partials/footer.liquid' %}