<a href="/spells">All spells</a>

<h1>{{ spreuk.name }}</h1>

<section id="specs">
    {% comment %} hier komt de range {% endcomment %}
    {% comment %} hier komen de classes die gebruik kunnen maken van de spell {% endcomment %}
    {% comment %} Uitleg van de spell {% endcomment %}
</section>