<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warhammer40K</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="warhammer_stijl.css">
    <script src="warhammer.js" defer></script>
  </head>
  <main>
    <nav>
      <ul class="navigatie">
        <li>
          <a href="#wat_is_het">Wat is het?</a>
        </li>
        <li>
          <a href="#mijn_leger">Mijn leger</a>
        </li>
        <li>
          <a href="#mijn_foto's">Foto's</a>
        </li>
      </ul>
    </nav>

    <header>
      <img
        class="logo"
        src="docs/Warhammer-logo.png"
        alt="Warhammer_40k">
    </header>

    <section id="wat_is_het">
      <h2>Wat is Warhammer 40K?</h2>

      <article>
        <p>Warhammer 40K is een tabletop spel met miniatuur figuren en gebouwen. Dit spel
 
 
 
 
                    heeft de setting van het 41ste milennium en het enige dat dit universum kent is oorlog.
                    Verschillende legers vechten voor hun eigen belang.
        </p>
      </article>
    </section>

    <section id="mijn_leger">
      <h3>Mijn leger</h3>

      <article>
        <p>Mijn leger zijn de Orks. Brute, meedogeloze, barbaarse en vooral domme biologische
 
 
 
 
                    oorlogsmachines die elke wereld veroveren waar zij belanden.
        </p>
      </article>
    </section>

    <section id="mijn_foto's">
      <h4>Mijn foto's</h4>

      <article class="fotosminis">
        <p>Hier zijn een aantal foto's die ik heb genomen van de mini's die ik heb geschilderd</p>

        <ul>
          <li><img src="/warhammer/Media_1.jpg"></li>
          <li><img src="/warhammer/Media_2.jpg"></li>
          <li><img src="/warhammer/Media_3.jpg"></li>
          <li><img src="/warhammer/Media_4.jpg"></li>
        </ul>
      </article>
    </section>

    <footer></footer>
  </main>
</html>