*, *::before, *::after {
	box-sizing:border-box;
}

ul{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1em;

    a{
    background-color: var(--background-spell);
    list-style: none;
    padding: 0.5em;
}
}
    