/* Filter div */
    .filter{
            display: flex;
            flex-direction: row;

            gap: 2em;
            overflow-x: scroll;
    }
/* Spells div */
ul{
    display: flex;
    grid-template-columns:repeat(auto-fit, minmax(min(15em, 100%), 1fr));
    gap: 1em;

    flex-direction: column;
    align-items: center;
}

li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    width: 90%;
    height: 5em;


    a{
        font-size: xx-large;
        width: 100%;
        align-content: center;
    }
}
