/* Hier is de navigatie om weer terug te gaan naar de spreuken */

/* Hier is alles in de specs section */
#specs{
    display: grid;

    row-gap: 1em;

    h1, h2, h3, h4, h5, h6{
        font-size: x-large;
    }

    p{
        font-size: larger;
    }

    h3 ~ p {
        width: 90%;
    }
}