:root {
  --green: #00ff00;
  --red: #ff0000;
  --blue: #0000ff;
  --yellow: #ffff00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Delegate TM', Courier, monospace;
  background-color: #ffffff;
}

.js-cont[data-js="no-js"] .no-js {
  display: block;
}

.js-cont[data-js="js"] .js {
  display: block;
}

@font-face {
  font-family: 'Delegate TM';
  src: url('/fonts/Delegate TM.woff2') format('woff2');
}


